/**
 * Created by Pompo on 25.09.2016.
 */
.form{

  &-unit{
    padding-left: 1em;
    float: left;
    box-sizing: border-box;

    @include respondTo(tablet){
      padding-left: 0;
    }

    &_single-left{
      padding-left: 0;
    }

    &_w100{
      width: 100%;
      padding-bottom: 20px;

      & input{
        color: #333;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &-popup{

    &__title{
      margin-bottom: 20px;
      font-family: $Roboto;
      font-size: $middle-size;
      font-weight: 400;
      text-align: center;
    }
  }
}

.inp-regular{
  width: 100%;
  padding: .75em 1em;
  border: none;
  font-size: $small-size;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, .66) inset;
  border-radius: 4px;

  @include respondTo(tablet){
    font-size: $normal-size;
  }
}

.ticket-form{
  padding: 30px 15px;
  background: $main-bg;
}