/**
 * Created by Pompo on 24.09.2016.
 */
.btn{
  text-transform: uppercase;
  min-width: 150px;
  padding: .85em 1em;
  font-size: .875rem;
  text-align: center;
  line-height: 1;
  text-decoration: none;
  display: block;
  border: none;

  @extend %transition;
  @extend %Century;

  @include respondTo(mobile){
    font-size: 1rem;
  }

  &_w-100{
    width: 100%;
  }

  &:hover,
  &:focus,
  &:active{
    text-decoration: none;
  }

  &-action{
    background: $action;
    color: $white;

    &:hover,
    &:focus,
    &:active{
      background: $action-hover;
      color: $white;
    }
  }

  &-primary{
    background: $accent;
    color: $black;
    font-size: $middle-size;
    //временно
    margin-top: 20px;

    &:hover{
      background: $l-accent;
    }
  }
}

//icons
.ico-tour{
  fill: #fff;
  stroke: #fff;
}