/**
 * Created by Pompo on 24.09.2016.
 */

//fonts
$Tahoma: "Tahoma", Arial, sans-seirf;
$Roboto: "Roboto", sans-seirf;

//color
$white: #fff;
$black: #333;
$main-bg: #2c424e;
$second-bg: #1b303c;
$action: #d96f44;
$action-hover: #d2671b;
$accent: #7db961;
$l-accent: #83c037;