/**
 * Created by Pompo on 24.09.2016.
 */

.header{
  //background: $main-bg;
  background: $main-bg linear-gradient(to top, $main-bg 0%, #2c5064 35%, $main-bg 100% );
  color: $white;
  padding: .7em 0;
  box-sizing: border-box;
  //animation: slide-top .45s ease-out 1;

  &__wrap{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 12px;

    @include respondTo(mobile){
      padding: 30px 0;
      justify-content: flex-start;
    }

    @include respondTo(small){
      display: block;
      padding-bottom: 20px;
    }

    & span,
    & a{
      white-space: nowrap;
    }
  }

  &__item{
    position: relative;
    padding-left:40px;
    float: right;
    margin: 0 20px;

    @include respondTo(small){
      width: 100%;
      float: none;
      margin: 20px 0 0;
    }

    &:last-of-type{
      margin: 0;
      padding-left: 0;
    }

    &:first-of-type{
      margin: 0;
    }
  }

  &__icon{
    position: absolute;
    left: 0;
    bottom: 3px;

    &_phone{
      left: 15px;

      @include respondTo(mobile){
        left: 10px;
      }

      @include respondTo(small){
        left: 3px;
      }
    }
  }

  &__txt{
    @extend %Roboto;

    font-size: 1rem;
    line-height: 1.4;
    text-align: right;

    @include respondTo(small){
      text-align: left;
    }
  }

  &__btn{
    display: inline-block;
    margin-top: 3px;

    @include respondTo(tablet){
      float: right;
    }
  }

  //&__phone{
  //
  //  @include respondTo(mobile){
  //    margin-top: 1em;
  //    min-height: 35px;
  //  }
  //
  //  & > .header__txt{
  //    font-size: 1.5rem;
  //
  //
  //  }
  //}

  &__social-icon{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    //min-width: 115px;
    float: right;
    margin-top: 12px;

    & a{
      display: inline-block;
      vertical-align: middle;

      &:hover{
        text-decoration: none;
      }
    }
  }

  &__menu{
    background: #486579;
    color:#fff;

    //&_fixed{
    //  position: fixed;
    //  width: 100%;
    //  opacity: .9;
    //  border-bottom: 1px solid #405a6c;
    //  top:0;
    //  z-index: 100;
    //}
  }
}

//@keyframes slide-top {
//  from{
//    opacity: 0;
//    transform: translate3d(0, -100%, 0);
//  }
//  to{
//    opacity: 1;
//    transform: none
//  }
//}

