/**
 * Created by Pompo on 24.09.2016.
 */
.hide-mobile{
  @include respondTo(mobile){
    display: none;
  }
}

.hide-tablet{
  @include respondTo(tablet){
    display: none;
  }
}

.width-25{
  width: 25%;
}

.width-20{
  width: 20%;
}

.width-15{
  width: 15%;
}

.reset-mobile{

  @include respondTo(tablet){
    width: 50%;
    margin-bottom: 1.6em;

    &:nth-child(2n){
      padding-left: 1em;

      @include respondTo(mobile){
        padding-left: 0;
      }
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  @include respondTo(mobile){
    width: 100%;
  }
}

.ico-ui{
  width: 35px;
  height: 35px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
}

.accent-line{
  width: 100%;
  background: $l-accent;
  height: 1px;
  border: none;
  margin-top: 0;
  position: relative;

  &:after{
    position: absolute;
    content: '';
    height: 3px;
    width: 30%;
    background: $accent;
    left: 0;
    top: -1px;
  }
}

.center{
  text-align: center;
}

.accent{
  font-weight: 600;
  text-transform: uppercase;
  font-size: $middle-size;
}

table{
  margin: 30px 0;
  width: 100%;

  & p{
    font-size: $small-size;
  }

  & td{
    padding: 1rem;
    border: 1px solid #eeeeee;
    vertical-align: top;
  }

  & th{
    text-transform: uppercase;
    border: 1px solid #eeeeee;
    padding: 1rem;
    background: #f2f2f2;
  }
  
  .accent{
    text-transform: none;
  }

}

.left{
  text-align: left;
}

.rel-block{
  position: relative;
}

.js-parallax{
  min-height: 400px;
  background: transparent;
}

.mrg-top{
  margin-top: 55px;
  @extend %transition;
}

#swiper-hero-banner.swiper-container {
  width: 100%;
  //height: 460px;
}

#swiper-partner{
  margin: 30px 0;

  & .swiper-slide{
    text-align: center;
  }
}

.swiper-pagination-bullet {
  background: #fff none repeat scroll 0 0;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background: #fff none repeat scroll 0 0;
  opacity: 1;
}

//для телефонов в iphone
a[href^=tel]{
  color: #fff;

  &:hover{
    text-decoration: none;
  }
}

.minimal-price{
  padding: 60px 0;
}

.sm{
  font-size: $small-size;
}

.gap-top{
  margin-top: 30px !important;
}

.form-popup {
  position: relative;
  background: $main-bg;
  padding: 30px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
  color: #fff;
}

.mfp-bg{
  background: #fff;
  opacity: .7;
}

.mfp-close-btn-in .mfp-close {
  color: #fff !important;
}

//переопределяю стрелки
#swiper-partner{

  & .swiper-button-prev,
  & .swiper-button-next{
    border-radius: 50%;
    background: $main-bg;
    width: 55px;
    height: 55px;
    left: 0;

    &:before{
      content: '';
      width: 20px;
      height: 20px;
      background: transparent;
      border-top: 2px solid #fff;
      border-left: 2px solid #fff;
      transform: rotate(-45deg);
      position: absolute;
      top: calc(50% - 10px);
      left: calc(50% - 8px);
      box-sizing: border-box;
    }
  }

  & .swiper-button-next{
      left: auto;
      right: 0;

    &:before{
      transform: rotate(135deg);
      right: calc(50% - 8px);
      left: auto;
    }
  }
}