/**
 * Created by Pompo on 25.09.2016.
 */

.hero-banner{
  background: url('../img/hero-banner.jpg') 50% 50% / cover;
  width: 100%;
  height: 640px;

  @include respondTo(tablet){
    height: 380px;
  }

  @include respondTo(mobile){
    display: none;
  }
  
  &_wrap{
    background: linear-gradient(to top, rgba(74,92,107,.3), rgba(74,92,107,.9));
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  &__txt{
    text-transform: uppercase;
    color: $white;
    font-family: $Century;
    font-size: $normal-size*3;
    font-weight: 400;
    margin-top: 200px;
    animation: opacity-txt .85s ease-out 1;

    @include respondTo(tablet){
      font-size: $middle-size*2;
      margin-top: 100px;
    }
  }

  &__bg-img{
    position: absolute;
    background: url("../img/airplane.png") no-repeat scroll transparent 50% 50% / contain;
    width: 100%;
    height: 317px;
    top: 20%;
    left: 0;
    animation: airplane 1.5s ease-in 1;

    @include respondTo(tablet){
      top: 5%;
      //animation: none;
    }
  }
}

@keyframes airplane {
  from{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes opacity-txt {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
