/**
 * Created by Pompo on 25.09.2016.
 */

.top-nav{
  display: table;
  list-style: none;
  height: 55px;
  margin: 0;
  padding: 0;

  &__link{
    font-family: $Roboto;
    color: #fff;
    font-size: $normal-size;
    padding:  0 1.2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid #405a6c;

    @extend %transition;

    @include respondTo(desktop){
      font-size: $xs-size;
    }

    @include respondTo(tablet){
      padding:  0 1.6em;
    }

    &:hover{
      color: $white;
      background: $accent;
      text-decoration: none;
    }

    &:last-child{
      border-right: 1px solid #405a6c;
    }
  }
}