/**
 * Created by Pompo on 30.09.2016.
 */
.tour{
  //background: url('../img/bg-tour.png') 50% 50% / cover;
  position: relative;
  overflow: hidden;

  @include respondTo(small){
    background: $main-bg;
  }

  &-wrap{
    height: 100%;
    padding: 6em 0 3em;
    position: relative;

    &:before,
    &:after{
      position: absolute;
      content: '';
      bottom: -14px;
      left: 0;
      width: 100%;
      background: url('../img/wrap-wave.png') repeat-x 0 0;
      height: 40px;
      z-index: 10;
    }

    &:before{
      transform: rotate(180deg);
      top: -14px;
      bottom: auto;
    }

    @include respondTo(small){
      background: none;
    }
  }

  &__ico{
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 0 auto;
  }

  &__title{
    color: #fff;
    font-family: $Roboto;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;

    @include respondTo(small){
      font-size: $small-size;
    }
  }

  &__link{
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    min-height: 190px;

    &:hover{
      text-decoration: none;

      & .tour__title{
        color: $l-accent;
      }

      & .ico-tour{
        fill: $l-accent;
        stroke: $l-accent;
      }

      & .tour__ico{
        border-color: $l-accent;
      }
    }
  }
}